<%- include header %>
  <div class="form post-from">
   <form method="post">
    标题：<br><input type="text" name="title" class="button"><br>
    标签：<br><input type="text" name="tag1" class="tags"><input type="text" name="tag2" class="tags tags_after"><input type="text" name="tag3" class="tags tags_after"><br>
    正文:<br><textarea name="post" cols="100" rows="20"></textarea><br>
    <input type="submit" value="发 表" class="button sub">
  </form>
  </div>
<%- include footer %>