*{
	margin: 0;
	padding: 0;
}
.main a{
	color: #dd0000;
	text-decoration: none;
}
.main a:hover{
	color: #333333;
	text-decoration: underline;
}
.info{
	font-size: 14px;
	margin-top: 8px;
}

.title{
	height: 50px;
	line-height: 50px;
	width: 50%;
	margin: 40px 30%;
	border-bottom: 1px dashed #000;
}
.title h1{
	font-size:32px;
	float: left;
	margin-top: 5px;
	font-weight: bold;
	width: 220px;
	display:block;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-family: inherit;

}
.title .welcome{
	font-size:14px;
	float: right;
	margin: 13px 15px;
	color: red;
}
.nav{
	height: 400px;
	width: 10%;
	float: left;
	margin-left: 18%;
}
.main{
	font-size: 16px;
	float: left;
	width: 50%;
	margin-left: 2%;
	padding: 0 0 80px;
}
.nav ul li{
	list-style: none;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 20px;
}
.form{
	line-height: 70px;
	font-size: 18px;
}
.button{
	width: 190px;
	height: 30px;
}
.sub{
	font-size: 18px;
	border-radius: 8px;
	border: none;
	background: #7B5CA9;
	color: #fff;
}
.post-from{
	line-height: 35px;
}
.upload input[type="file"]{
	height: 35px;
}
.content{
	width: 100%;
	overflow: auto;
	
}
.list{
	padding: 10px 0 20px;
	border-bottom: 1px solid #E0DFDF;
}
.content img{
	max-width: 550px;
}
.edit{
	margin: 3px;
	padding: 2px 5px;
	border-radius: 3px;
	background-color: #f3f3f3;
	color: #333;
	font-size: 13px;
}
.edit:hover{
	text-decoration: none;
	background-color: #f00;
	color: #fff;
	-webkit-transition:color .2s linear;
}
.comment{
	display: inline-block;
	clear: both;
	width: 100%;
	padding: 10px 0;
	border-top: 1px dashed #CCC;
}
.page{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
}
.prepage a{
	text-decoration: none;
	background: #7B5CA9;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 4px;
	padding: 6px;
}
.nextpage a{
	text-decoration: none;
	background: #7B5CA9;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 4px;
	padding: 6px;
}
.prepage a:hover,.nextpage a:hover{
	text-decoration: none;
	-webkit-transition:color .2s linear;
	color: #fff;
}
.archive{
	list-style:none;
	line-height: 28px;
}
.archive h3{
	margin: 0.5em 0;
}
.archive time{
	float: left;
	font-size: 14px;
	color: #999999;
	margin-right: 1.2em;
}
.tags{
	height: 25px;
	width: 150px;
}
.tags_after{
	margin: 0 10px;
}
.main .tag{
	background-color: #e4edf4;
	border-radius: 3px;
	font-size: 14px;
	color: #6c6da7;
	display: inline-block;
	padding: 2px 8px;
	margin-bottom: 8px;
}
.search{
	float: left;
	border-radius: 14px;
	height: 28px;
	line-height: 24px;
	width: 180px;
	font-size: 18px;
	margin: 15px 10%;
	border: 1px solid #CCC;
}
.search .text{
	margin: 0px 8px;
	border: none;
	height: 26px;
	width: 136px;
}
@font-face {font-family: 'iconfont';
src: url('font/iconfont.eot'); /* IE9*/
src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
url('font/iconfont.woff') format('woff'), /* chrome、firefox */
url('font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
url('font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-search{
	float: right;
	font-size: 20px;
	margin: 3px 4px;
	background: none;
	border: none;
}

.l_head{
	height: 40px;
	width: 40px;
	float: left;
	border-radius: 20px;
}
.r_head{
	height: 40px;
	width: 40px;
	float: right;
	margin-left: -2.5em;
	border-radius: 20px;
}
.comment_content{
	float: right;
	width: 90%;
}